/* fixes for syntax highlighter */

.post CODE.comments{
  background-image: none;
  display: inline;
}

/* fixes for wp-extjs-loader */

.post .content ul{
  list-style-type:disc;
}
.post .content ol{
  list-style-type:decimal;
}

.extjs table{
  border: 0px !important;
  margin: 0px !important;
}

.extjs table tr td{
  border-top: 0px !important;
  padding: 0px !important;
}